In [6]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
import mysql.connector
from matplotlib import pyplot as plt

In [7]:
db = mysql.connector.connect(
    user = 'root',
    host = 'localhost',
    password ='root')

querry = 'SELECT * FROM mtracker.user_derrick;'

In [8]:
df = pd.read_sql(querry, db)
df.set_index('receipt', inplace = True)
df

C:\Users\Administrator\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,trasaction_day,year,month,date,weekday,hour,minute,second,transaction_type,transaction_party,transaction_amount,paid_in_or_withdrawn,balance
receipt,,,,,,,,,,,,,
RDB7VLX827,97,2023,4,11,1,7,34,58,BUY GOODS,EUNICE RURII,10.0,WITHDRAWN,190.65
RDB0VIRHTI,97,2023,4,11,1,6,17,55,PAY BILL,KPLC PREPAID,20.0,WITHDRAWN,200.65
RDA8V2XOWG,96,2023,4,10,0,20,28,58,SEND MONEY,PETER OSODO,20.0,WITHDRAWN,220.65
RDA4V2RODM,96,2023,4,10,0,20,27,28,BUY GOODS,SAMUEL NDUNGU,20.0,WITHDRAWN,240.65
RDA1V266WT,96,2023,4,10,0,20,22,35,BUY GOODS,JAWS BUTCHERY,100.0,WITHDRAWN,260.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...
RA10GI49RQ,1,2023,1,1,6,10,2,33,PAY BILL CHARGES,TRANSACTION COST,4.0,WITHDRAWN,0.00
RA10GI49RQ,1,2023,1,1,6,10,2,33,FULIZA TAKEN,FULIZA,454.0,PAID IN,4.00
RA10GI49RQ,1,2023,1,1,6,10,2,33,PAY BILL,EQUITY PAYBILL,450.0,WITHDRAWN,-450.00
RA10GI2APY,1,2023,1,1,6,10,1,48,FULIZA REPAYMENT,FULIZA,50.0,WITHDRAWN,0.00
RA12GI1SRW,1,2023,1,1,6,10,1,48,KCB MPESA WITHDRAW TO MPESA,KCB,50.0,PAID IN,50.00

In [31]:
data = ['trasaction_day', 'year', 'month', 'date', 'weekday']
predict = 'balance'

In [33]:
x = df[data]
x.reset_index(inplace = True, drop = True)
x = np.array(x)

y = df[predict]
y = np.array(y)

array([ 190.65,  200.65,  220.65, ..., -450.  ,    0.  ,   50.  ])

In [34]:
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x, y, test_size = 0.1)

In [37]:
linear = linear_model.LinearRegression()

linear.fit